wtf:
  colors:
    border:
      focusable: darkslateblue
      focused: orange
      normal: gray
  refreshInterval: 1
  mods:

## TOP ROW ##

    clocks:
      colors:
        rows:
          even: "lightblue"
          odd: "white"
      enabled: true
      locations:
        UTC: "Etc/UTC"
        Germany: "Europe/Berlin"
        Oklahoma: "America/Chicago"
      position:
        top: 0
        left: 1
        height: 1
        width: 1
      refreshInterval: 15
      sort: "chronological"
      title: "Clocks"
      type: "clocks"
    ipinfo:
      colors:
        name: "lightblue"
        value: "white"
      enabled: true
      position:
        top: 0
        left: 2
        height: 1
        width: 1
      refreshInterval: 150
    taskwarrior_active:
      enabled: true
      type: cmdrunner
      title: Active Tasks
      cmd: "modules/taskwarrior-active.nu"
      position:
        top: 0
        left: 0
        height: 1
        width: 1
      refreshInterval: 2m
    heroku_status:
      type: cmdrunner
      title: Heroku Status
      cmd: "heroku"
      args: ["status"]
      enabled: true
      position:
        top: 0
        left: 3
        height: 1
        width: 1
      refreshInterval: 5m

## SECOND ROW ##
    jira_td:
      # apiKey: "Use WTF_JIRA_API_KEY env variable instead"
      type: cmdrunner
      title: "Jira (In Progress)"
      cmd: "modules/jira.nu"
      enabled: true
      position:
        top: 1
        left: 0
        height: 1
        width: 2
      refreshInterval: 15m
    github_notifications:
      type: cmdrunner
      title: GitHub Notifications
      cmd: "modules/github-notifications.nu"
      enabled: true
      position:
        top: 1
        left: 2
        height: 1
        width: 2
      refreshInterval: 5m

## THIRD ROW ##
    sentry_platform:
      type: cmdrunner
      title: "Sentry (Platform)"
      cmd: "modules/sentry-assigned.nu"
      enabled: true
      position:
        top: 2
        left: 0
        height: 1
        width: 2
      refreshInterval: 5m

    github_alerts:
      type: cmdrunner
      title: GitHub Alerts
      cmd: "modules/github-alerts.nu"
      enabled: true
      position:
        top: 2
        left: 2
        height: 1
        width: 2
      refreshInterval: 15m

## FOURTH ROW ##
    sentry_unassigned:
      type: cmdrunner
      title: "Sentry (Unassigned)"
      cmd: "modules/sentry-unassigned.nu"
      enabled: true
      position:
        top: 3
        left: 0
        height: 1
        width: 2
      refreshInterval: 5m

    freshdesk:
      type: cmdrunner
      title: "Freshdesk"
      cmd: "modules/freshdesk.nu"
      enabled: true
      position:
        top: 3
        left: 2
        height: 1
        width: 2
      refreshInterval: 5m
